<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Anshal's Ecommerce Site</title>
   <meta name="description" content="Buy Electronics at Best Price">
   <link rel="stylesheet" href="stylesheet/index.css">
   <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>

   <header>

      <div open class="login-dialog">
         <dialog class="dialog-content">

            <div class="login-form">

               <div class="form-header">
                  <h3>Login</h3>
                  <button id="close-dialog"> <span class="material-symbols-outlined"> close </span></button>
               </div>

               <form action="">
                  <div class="input-fields">
                     <label for="name">Username</label>
                     <input type="text" id="username" name="username" placeholder="Enter username or email">
                  </div>

                  <div class="input-fields">
                     <label for="password">Password</label>
                     <input type="password" id="password" name="password" placeholder="Enter Password">
                  </div>
                  <a href="/register">Do not have an account? Get one!</a>
                  <button id="login-user" type="submit">Login</button>
                  <a href="/forgotpassword">Forgot Password?</a>

               </form>
            </div>
         </dialog>
      </div>

      <%- include('./components/Sidebar.ejs') %>
         <%- include('./components/Navbar.ejs') %>
   </header>

   <main id="main-content">

      <section aria-label="header-main-section" class="headerMain">
         <hgroup class="header-home">
            <h1>Discover the Latest <br> Electronics at Unbeatable Prices</h1>
            <p>Shop the best selection of cutting-edge electronics and find the perfect gadget for your needs.</p>
            <button><a href="/categories">Explore</a></button>
         </hgroup>
         <div class="header-Home-img">
            <img src="images/headerIMg.png" alt="Loading" width="300px" height="auto">
         </div>
      </section>
      <%- include('./components/Categories.ejs') %>

         <section aria-label="Monitors-Section">
            <div class="product-data">
               <span id="backwordbtn" class="material-symbols-outlined">
                  arrow_back_ios
               </span>
               <h1 class="cat-header">Monitors</h1>

               <div class="product-card-data scrollbar">
                  <% Data.forEach(product=> { %>
                     <% if (product.category==="monitors" ) { %>

                        <a href="/product/<%=  product._id %>?category=<%= product.category %>">
                           <div class="product-card">

                              <div class="product-image">

                                 <img src="uploads/<%=  product.product_image %>" alt="Loading">
                              </div>

                              <div class="product-details">

                                 <%= product.title.slice(0, 25) %>...
                                    <% if(product.Ratings===0) { %>
                                       <p>No ratings</p>
                                       <% } %>

                                          <% if(product.Ratings> 0) { %>
                                             <div class="Ratings-product">
                                                <div class="ratings">
                                                   <img src="images/yellow_star.png" alt="Loading" width="15">
                                                   <img src="images/black_star.png" alt="Loading" width="15">
                                                   <img src="images/black_star.png" alt="Loading" width="15">
                                                   <img src="images/black_star.png" alt="Loading" width="15">
                                                   <img src="images/black_star.png" alt="Loading" width="15">


                                                </div>
                                                <span> (<%= product.Ratings %>)</span>
                                             </div>
                                             <% } %>
                                                <div class="card-footer">

                                                   <p>
                                                      ₹<%= product.price %>

                                                   </p>

                                        
                                                      <% if (Loggeduser) { %>
                                                  


                                                      <button><img title="Add to cart" src="/images/cart.png"
                                                            alt="Loading" width="25"></button>

                                                      <% } %>
                                                    
                                                </div>

                              </div>

                           </div>
                        </a>



                        <% } %>

                           <% }) %>
               </div>

               <span id="forwardbtn" class="material-symbols-outlined">
                  arrow_forward_ios
               </span>
            </div>
         </section>



         <section aria-label="Mobiles-Section">
            <div class="product-data">
               <span id="backwordbtn" class="material-symbols-outlined">
                  arrow_back_ios
               </span>
               <h1 class="cat-header">Mobile phones</h1>

               <div class="product-card-data scrollbar">
                  <% Data.forEach(product=> { %>
                     <% if (product.category==="mobile" ) { %>
                        <a href="/product/<%=  product._id %>?category=<%= product.category %>">
                           <div class="product-card">

                              <div class="product-image">

                                 <img src="uploads/<%=  product.product_image %>" alt="Loading">

                              </div>

                              <div class="product-details">

                                 <%= product.title %>
                                    <% if(product.Ratings===0) { %>
                                       <p>No ratings</p>
                                       <% } %>

                                          <% if(product.Ratings> 0) { %>
                                             <div class="Ratings-product">
                                                <div class="ratings">
                                                   <img src="images/yellow_star.png" alt="Loading" width="15">
                                                   <img src="images/black_star.png" alt="Loading" width="15">
                                                   <img src="images/black_star.png" alt="Loading" width="15">
                                                   <img src="images/black_star.png" alt="Loading" width="15">
                                                   <img src="images/black_star.png" alt="Loading" width="15">


                                                </div>
                                                <span> (<%= product.Ratings %>)</span>
                                             </div>
                                             <% } %>
                                                <div class="card-footer">

                                                   <p>
                                                      ₹<%= product.price %>

                                                   </p>
                                                   

                                                   <% if (Loggeduser ) { %>

                                                   <button><img title="Add to cart" src="images/cart.png" alt="Loading"
                                                         width="25"></button>

                                                         <%  } %>


                                                </div>
                              </div>

                           </div>
                        </a>
                        <% } %>
                           <% }) %>
               </div>

               <span id="forwardbtn" class="material-symbols-outlined">
                  arrow_forward_ios
               </span>
            </div>
         </section>



         <section aria-label="Headphones-Section">
            <div class="product-data">
               <span id="backwordbtn" class="material-symbols-outlined">
                  arrow_back_ios
               </span>
               <h1 class="cat-header">Head phones</h1>

               <div class="product-card-data scrollbar">
                  <% Data.forEach(product=> { %>
                     <% if (product.category==="headphones" ) { %>
                        <a href="/product/<%=  product._id %>?category=<%= product.category %>">
                           <div class="product-card">

                              <div class="product-image">

                                 <img src="uploads/<%=  product.product_image %>" alt="Loading" width="250">
                              </div>
                              <div class="product-details">
                                 <%= product.title %>
                                    <% if(product.Ratings===0) { %>
                                       <p>No ratings</p>
                                       <% } %>

                                          <% if(product.Ratings> 0) { %>
                                             <div class="Ratings-product">
                                                <div class="ratings">
                                                   <img src="images/yellow_star.png" alt="Loading" width="15">
                                                   <img src="images/black_star.png" alt="Loading" width="15">
                                                   <img src="images/black_star.png" alt="Loading" width="15">
                                                   <img src="images/black_star.png" alt="Loading" width="15">
                                                   <img src="images/black_star.png" alt="Loading" width="15">


                                                </div>
                                                <span> (<%= product.Ratings %>)</span>
                                             </div>
                                             <% } %>
                                                <div class="card-footer">

                                                   <p>
                                                      ₹<%= product.price %>

                                                   </p>


                                                   <% if (Loggeduser ) { %>

                                                      <button><img title="Add to cart" src="images/cart.png" alt="Loading"
                                                            width="25"></button>
   
                                                      <%  } %>


                                                </div>
                              </div>

                           </div>
                        </a>
                        <% } %>
                           <% }) %>
               </div>

               <span id="forwardbtn" class="material-symbols-outlined">
                  arrow_forward_ios
               </span>
            </div>
         </section>


         <section aria-label="New-Launches">
            <div class="new-launches">
               <div>

                  <h1>Explore new launches</h1>
               </div>
               <div class="products">
                  <img src="images/new_launches.jpg" alt="Loading" width="200">
                  <div class="new-lauches-details">
                     <h3>Acer Aspire 5 Gaming Laptop Intel Core i5 12th gen (16 GB/512 GB SSD/Win11 Home/4GB
                        Graphics/RTX 2050) A515-57G (15.6" FHD Display, 1.8 Kg) </h3>
                     <p> <s style="color: red;">₹52,990</s> ₹45,000 </p>
                     <button class="explore-new-products">Explore</button>
                  </div>
               </div>
            </div>
         </section>

   </main>


   <footer>
      <%- include('./components/Footer.ejs') %>
   </footer>

   <script src="scripts/main.js"></script>
   <script src="scripts/Dialog.js"></script>

</body>

</html>